@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype'),
        url('../fonts/Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.eot');
    src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.ttf') format('truetype'),
        url('../fonts/Inter-Bold.svg#Inter-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('../fonts/GalaxieCopernicus-Book.eot');
    src: url('../fonts/GalaxieCopernicus-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GalaxieCopernicus-Book.woff2') format('woff2'),
        url('../fonts/GalaxieCopernicus-Book.woff') format('woff'),
        url('../fonts/GalaxieCopernicus-Book.ttf') format('truetype'),
        url('../fonts/GalaxieCopernicus-Book.svg#GalaxieCopernicus-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
