$dusty-pink: #f2efee;
$dark-blue: #003a91;
$dark-gray: #3c3c3c;
$MidGrey:#c4c4c4;
$GretPurp: #74788a;
$dark-red: #8c2531;
$black: #000;
$white: #fff;
$Beige: #d7c3ae;

$primary-font: 'Galaxie Copernicus';
$secondary-font: 'Inter';

$vwm: 0.3125vw;
$vwt: 0.13020833333333334vw;
$vw: 0.052083333333333336vw;

$headings : h1 h2 h3 h4 h5 h6;

@each $heading in $headings {
    #{$heading} {
        font-family: $primary-font;
    }
}

body {
    background: $dusty-pink;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-family: $secondary-font;
    color: $dark-gray;
    -webkit-font-smoothing: antialiased;
    // letter-spacing: 0.02em;

    &.body-overflow-hidden {
        overflow: hidden;
    }
}


img {
    max-width: 100%;
    height: auto;
}

a {
    transition: all 0.5s;
    &:hover {
        text-decoration: none;
    }
}

.container {
    max-width: 1200px;
    @include breakpoint (lg) {
        max-width: 1200px;
        // width: 1320*$vw;
    }
    @media (min-width: 1440px) {
        // padding: 0;

    }

    @include breakpoint (sm1) {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    &--full {
        max-width: 100%;
    }

}

.row {
//    margin-left: -5px;
//    margin-right: -5px;

    @include breakpoint (md1) {}
}

[class*=col-] {
    // padding: 0 5px;

    @include breakpoint (md1) {}
}

.inner-container {
    max-width: 1170px;
    margin: 0 auto;
}

.pt-0 {
    padding-top: 0 !important;
}


