.banner {
    margin-left: 60px;
    position: relative;
    margin-bottom: 60px;
    @include breakpoint (sm1) {
        margin-left: 16px;
        margin-bottom: 0;
    }
    &__wrapper {
        padding-left: 60px;
        position: relative;
        z-index: 1;
        @include breakpoint (sm1) {
            padding-left: 16px;
        }
        &:before {
            content: '';
            // height: 380*$vw;
            height: 50%;
            width: 100%;
            position: absolute;
            background: $white;
            left: 0;
            top: 0;
            z-index: -1;
        }
        .container {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0 !important;
            @include breakpoint (sm1) {
                padding-left: 0 !important;
            }
        }
        img {
            @include breakpoint (xs) {
                height: 196px;
                object-fit: cover;
            }
        }
    }
}
