.beneficiaries {
    background: $white;
    padding-top: 80px;
    // padding-bottom: 190*$vw;
    padding-bottom: 190px;
    @include breakpoint (sm1) {
        padding-top: 25px;
        padding-bottom: 55px;
    }
    .container {
        padding: 0;
        max-width: 100%;
        @include breakpoint (sm1) {
            padding-right: 0 !important;
        }
    }

    &__slider {
        padding: 0;
        margin: 0;
        .slick-list {
            padding-left: 0 !important;
            // padding-right: 60*$vw !important;
        }

        &__item {
            list-style: none;
            padding-right: 60*$vw;
            @include breakpoint (lg) {
                padding-right: 60px;
            }
            @include breakpoint(sm1) {
                padding-right: 16px;
            }
        }

        &__text {
            margin-top: 20px;
            p {
                font-size: 18px;
                line-height: 140%;
                letter-spacing: -0.01em;
                font-family: $primary-font;
                color: $dark-gray;
                @include breakpoint (sm1) {
                    font-size: 14px;
                }
            }
        }
    }
}
