.btn {
    font-size: 18px;
    color: $dark-gray;
    font-weight: 700;
    line-height: 83%;
    letter-spacing: 0.02em;
    @include breakpoint (sm1) {
        font-size: 14px;
    }
    &--square {
        border-radius: 0;
        &--border {
            border: 1px solid $MidGrey;
            padding: 0 0 0 22px;
            i {
                padding: 22px 27px;
                border-left: 1px solid $MidGrey;
                margin-left: 22px;
                font-size: 20px;
                @include breakpoint (sm1) {
                    padding: 10px 16px;
                    font-size: 20px;
                }
            }
        }
    }
    &--underline {
        border-bottom: 1px solid $MidGrey;
        padding-left: 0;
        padding-right: 0;
        i {
            font-size: 20px;
            margin-left: 10px;
        }
    }
}
