.founder {
    background: $Beige;
    padding-top: 80px;
    position: relative;
    z-index: 1;

    @include breakpoint (sm1) {
        padding-top: 40px;
        padding-bottom: 40px;
        background: $white;
    }

    &:before {
        @include breakpoint (sm1) {
            height: 125*$vw;
            height: 125px;
            width: 100%;
            background: $Beige;
            top: 0;
            bottom: auto;
            content: '';
            left: 0;
            bottom: 0;
            position: absolute;
            z-index: -1;
        }
    }

    &__banner {
        position: relative;
        padding: 0 60px;
        z-index: 1;
        img {
            width: 100%;
        }

        @include breakpoint (sm1) {
            padding: 0 30px;
        }

        &:after {
            content: '';
            background: $white;
            height: 50%;
            width: 100%;
            left: 0;
            bottom: 0;
            position: absolute;
            z-index: -1;

            @include breakpoint (sm1) {
                height: 0;
            }
        }

        &__caption {
            position: absolute;
            bottom: 0;
            // max-width: 1320px;
            padding: 75px 60px;
            left: 0;
            right: 0;
            margin: 0 auto;
            @include breakpoint (sm1) {
                padding: 16px;
            }
            @media (min-width: 992px) and (max-width: 1300px) {
                width: 1600*$vw;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    font-size: 44px;
                    line-height: 120%;
                    letter-spacing: -0.02em;
                    color: $white;
                    font-family: $primary-font;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
                    }
                }
            }
        }

        &--xs {
            @include breakpoint (md) {
                display: none;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    position: relative;
                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }
                    h3 {
                        font-size: 24px;
                        line-height: 120%;
                        letter-spacing: -0.02em;
                        color: $white;
                        margin: 0;
                    }
                }
            }
        }

        &--md {
            @include breakpoint (sm1) {
                display: none;
            }
        }

    }

}
