.gallery {
    background: $white;
    padding: 60px 0 120px 0;

    @include breakpoint (sm1) {
        padding: 30px 0 60px 0;
    }

    &__slider {
        .slick-list {
            @include breakpoint (sm1) {
                padding-left: 0 !important;
            }
        }
    }

    .container {
        @include breakpoint (sm1) {
            max-width: 100%;
            padding-right: 0 !important;
        }
    }

    .main__title {
        position: relative;

        // top: 115*$vw;
        @include breakpoint (md) {
            top: 115px;
        }
    }

    .row {
        margin: 0;

        [class*=col-] {
            padding: 0;

            &:first-child {
                @include breakpoint (md) {
                    margin-top: 100*$vw;
                    margin-top: 100px;
                }
            }

            &:not(:last-child) {
                .gallery__block {
                    border-right: none;
                }
            }
        }
    }


    &__block {
        padding: 40px;
        border: 1px solid $dusty-pink;

        @include breakpoint (sm1) {
            padding: 16px;
        }

        // margin: 0 -1px;
        figure {
            margin: 0;
        }

        figcaption {
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.02em;
            margin-top: 12px;
        }
    }


}
