.header-slogan {
    background: $white;
    margin-left: 60px;
    padding-bottom: 80px;
    padding-top: 15px;
    padding-left: 60px;

    @include breakpoint (sm1) {
        margin-left: 16px;
        padding-left: 16px;
        padding-bottom: 40px;
    }

    .container {
        padding: 0;

        @include breakpoint (sm1) {
            padding-left: 0 !important;
        }

        .row {
            align-items: flex-end;
            margin: 0;

            [class*=col-] {
                padding: 0;
            }
        }
    }

    h1 {
        font-size: 64px;
        font-size: calc(32px + (64 - 32) * ((100vw - 300px) / (1920 - 300)));
        font-size: 64px;
        line-height: 110%;
        color: $dark-blue;
        letter-spacing: -0.02em;
        width: 90%;

        @include breakpoint (sm1) {
            font-size: 32px;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
