.latest__news {
    padding: 60px 0;
    margin-bottom: 60px;

    @include breakpoint (sm1) {
        margin-bottom: 0;
    }
    .container {
        @include breakpoint (sm1) {
            padding-right: 0 !important;
        }
    }

    .main__title {
        h2 {
            position: relative;

            @include breakpoint (md) {
                top: 158*$vw;
            }
        }
    }

    &--grid {
        @include breakpoint (md) {
            display: grid;
            grid-template-columns: 50% 1fr 1fr;
            grid-template-rows: 0fr 0fr;
            grid-gap: 0;
            grid-template-areas: "sidebar content-1 content-1"
            "sidebar content-2 content-3";
            // min-height: 1083*$vw;
            align-items: center;
        }
        .slick-track {
            @include breakpoint (sm1) {
                display: flex;
            }
        }

        .item {
            padding: 40px;
            border: 1px solid $white;
            @include breakpoint (sm1) {
                padding: 16px;
                // height: auto !important;
            }
            &:not(:last-child) {
                @include breakpoint(sm1) {
                    border-right: none;
                }
            }
            .image-block {
                @include breakpoint (sm1) {
                    position: relative;
                    padding-top: 56.25%;
                }

                img {
                    width: 100%;
                    @include breakpoint (sm1) {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                    }
                }
            }

            .content-block {
                margin-top: 20px;
                @include breakpoint (sm1) {
                    min-height: 180px;
                }

                .date {
                    text-transform: uppercase;
                    font-size: 14px;
                    color: $GretPurp;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.05em;
                    @include breakpoint (sm1) {
                        font-size: 10px;
                    }

                    .line {
                        display: inline-block;
                        height: 1px;
                        width: 32px;
                        background: $MidGrey;
                        margin: 0 5px;
                    }
                }

                h3 {
                    margin-top: 16px;
                    @include breakpoint (sm1) {
                        font-size: 20px !important;
                        line-height: 120% !important;
                        margin-top: 12px;
                    }
                }
            }

            &.sidebar {
                @include breakpoint (md) {
                    border-right: none;
                }

                h3 {
                    font-size: 44px;
                    line-height: 120%;
                    letter-spacing: -0.02em;
                }
            }

            &.content-1 {
                h3 {
                    font-size: 32px;
                    line-height: 120%;
                    letter-spacing: -0.02em;
                }
            }

            &.content-3 {
                @include breakpoint (md) {
                     border-left: none;

                 }
            }

            &.content-2,
            &.content-3 {
                @include breakpoint (md) {
                     border-top: none;

                 }

                h3 {
                    font-size: 18px;
                    line-height: 140%;
                    letter-spacing: -0.01em;
                }
            }
        }
        .slick-list {
            padding-left: 0 !important;
        }
    }
    .see-all {
        position: relative;
        @include breakpoint (md) {
            bottom: 140*$vw;
        }
        @include breakpoint(sm1) {
            margin-top: 15px;
        }
        .btn {

        }
    }
}


.sidebar {
    grid-area: sidebar;
}

.content-1 {
    grid-area: content-1;
}

.content-2 {
    grid-area: content-2;
}

.content-3 {
    grid-area: content-3;
}
