.mission {
    // padding-right: 60px;
    padding-bottom: 60px;
    @include breakpoint (sm1) {
       padding-bottom: 30px;
    }
    &__wrapper {
        background: $dark-red;
        padding: 80px 0;
        position: relative;
        z-index: 1;
        @include breakpoint (sm1) {
            padding: 40px 0;
        }
        &:before {
            content: '';
            background: $dusty-pink;
            height: 100%;
            width: 60px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            @include breakpoint (sm1) {
                width: 16px;
            }
        }
        .main__title {
            h2 {
                margin-bottom: 30px;
                @include breakpoint (sm1) {
                   margin-bottom: 17px;
                }
            }
        }
        .title__big {
            @each $heading in $headings {
                #{$heading} {
                    font-size: 44px;
                    color: $white;
                    line-height: 120%;
                    letter-spacing: -0.02em;
                    max-width: 780px;
                    margin-bottom: 20px;
                    @include breakpoint (sm1) {
                        font-size: 24px;
                    }
                }
            }
        }
        .paragraph {
            p {
                font-family: $primary-font;
                color: $white;
                max-width: 570px;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: -0.01em;
                @include breakpoint (sm1) {
                    font-size: 14px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__banner {
        max-width: calc(100% - 60px);
        padding-right: 60px;
        position: relative;
        z-index: 1;
         @include breakpoint (sm1) {
             max-width: calc(100% - 16px);
             padding-right: 16px;
         }
        &:before {
            content: '';
            background: $dark-red;
            height: 50%;
            width: 60px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            @include breakpoint (sm1) {
                width: 16px;
            }
        }
        img {
            width: 100%;
            @include breakpoint (xs) {
                height: 195px;
                object-fit: cover;
            }
        }
    }
}
