.social-icons {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        li {
            list-style: none;
            &:not(:last-child) {
                margin-right: 30px;
            }
            a {
                transition: opacity 0.5s;
                &:hover {
                    color: $dark-blue;
                }
            }
        }
    }
    &--footer {
        ul {
            li {
                a {
                    color: $white;
                }
            }
        }
        &.hidden--xs {
            @include breakpoint (xs) {
                display: none;
            }
        }
        &.hidden--sm {
            @include breakpoint (sm) {
                display: none;
            }
        }
    }
}
