.main__title {
    h2 {
        font-family: $secondary-font;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 700;
        // font-size: calc(14px + (32 - 17.5) * ((100vw - 300px) / (1920 - 300)));
        font-size: 24px;
        margin-bottom: 60px;
        @include breakpoint (sm1) {
            font-size: 14px;
            margin-bottom: 17px;
        }
    }

    &--blue {
        h2 {
            color: $dark-blue;

        }
    }
    &--white {
        h2 {
            color: $white;

        }
    }
}
