.footer {
    background: $dark-gray;
    padding: 75px 0 40px 0;
    @include breakpoint (sm1) {
        padding: 40px 0 30px 0;
    }
    &__logo {
        margin-bottom: 45px;
        @include breakpoint (sm1) {
            margin-bottom: 26px;
        }
    }
    &__menu {
        padding-top: 20px;
        border-top: 1px solid rgba($color: $white, $alpha: 0.1);
        @include breakpoint (xs) {
            padding-top: 10px;
        }
        &__block {
            ul {
                margin: 0;
                padding: 0;
                @include breakpoint(xs) {
                    display: flex;
                    flex-wrap: wrap;
                }
                li {
                    list-style: none;
                    display: inline-block;
                    @include breakpoint(xs) {
                        display: block;
                        margin-right: 0 !important;
                        max-width: 50%;
                        flex: 0 0 50%;
                        margin-top: 15px;

                    }
                    &:not(:last-child) {
                        margin-right: 58*$vw;
                        @include breakpoint(lg) {
                            margin-right: 58px;
                        }
                    }

                    a {
                        // font-size: calc(12px + (14  - 12) * ((100vw - 300px) / (1920 - 300)));
                        font-size: 14px;
                        letter-spacing: 0.02em;
                        color: $white;
                        line-height: 140%;
                        transition: opacity 0.5s;
                        @include breakpoint (sm1) {
                            font-size: 12px;
                        }
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
    &__btm {
        // padding-top: 214.5*$vw;
        padding-top: 160px;
        @include breakpoint (sm1) {
            padding-top: 60px;
        }
    }
    &__terms {
        ul {
             margin: 0;
             padding: 0;
            li {
                list-style: none;
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 58*$vw;
                    @include breakpoint(lg) {
                        margin-right: 58px;
                    }
                }
                a {
                   color: rgba($color: $white, $alpha: 0.5);
                //    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1920 - 300)));
                font-size: 14px;
                @include breakpoint (sm1) {
                    font-size: 12px;
                }
                letter-spacing: 0.02em;
                   &:hover {
                       color: $white;
                   }
                }
            }
        }
    }
    &__copyright {
        color: rgba($color: $white, $alpha: 0.5);
        // font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1920 - 300)));
        font-size: 14px;
        letter-spacing: 0.02em;
        @include breakpoint (sm1) {
            font-size: 12px;
            margin-top: 30px;
        }
    }
}
