.header {
    background: $dusty-pink;
    padding: 14px 0;
    .social-icons {
        ul {


            li {


                a {
                    color: $GretPurp;
                    font-size: 22px;
                    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1920 - 300)));
                }
            }
        }
    }
}
