
.navbar {
    margin-left: 60px;
    padding-left: 60px;
    padding-bottom: 37px;
    padding-top: 69px;
    padding-right: 0;
    transition: padding 1s ease;
    @include breakpoint (md) {
        border-bottom: 1px solid rgba($color: $MidGrey, $alpha: 0);
    }
    @include breakpoint (sm1) {
        margin-left: 16px;
        padding-left: 16px;
        padding-bottom: 25px;
        padding-top: 35px;
        padding-left: 0 !important;
    }
    .navbar-brand {
        @include breakpoint (sm1) {
            position: relative;
        }
        img {
            transition: opacity 0.5s;
            @include breakpoint (sm1) {
                max-width: 105px;
            }
            &.custom-logo {

            }
            &.toggle-logo {
                position: absolute;
                left: 0;
                opacity: 0;
            }
        }

    }
    .container {
        padding-left: 0;
    }
    &.scroll-to-fixed-fixed {
        padding-top: 30px;
        padding-bottom: 30px;
        @include breakpoint (md) {
            border-bottom: 1px solid rgba($color: $MidGrey, $alpha: 1.0);
        }
        @include breakpoint (sm1) {
            left: 0 !important;
            width: 100% !important;
        }
    }
    .navbar-collapse {
        @include breakpoint (sm1) {
            padding-top: 30px;
        }
    }
    &--white {
        background: $white;
        .navbar-nav  {
            &.nav-right {
                // padding-right: 45px;
            }
            li {
                @include breakpoint (md) {
                    margin-left: 40*$vw;
                }

                &:not(:last-child) {
                    // margin-right: 40px;


                }
                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }
                .nav-link {
                    color: $dark-gray;
                    // font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1920 - 300)));
                    font-size: 14px;
                    letter-spacing: 0.02em;
                    &:hover{
                         color: $dark-blue;
                         @include breakpoint (sm1) {
                             color: rgba($color: $white, $alpha: 0.2);
                         }
                    }
                }
                &.current-menu-item {
                    >a {
                        color: rgba($color: $white, $alpha: 0.2);
                    }
                }
            }
            > li {
                @include breakpoint (sm1) {
                    border-top: 1px solid rgba($color: $MidGrey, $alpha: 0.1);
                    padding: 8px 0;
                }
            }
        }
    }
    &--open {
        background: $dark-blue;
        left: -15px !important;
        width: 100% !important;
        min-height: 100vh;
        overflow-y: auto;
        align-items: flex-start;
        .navbar-toggler {
            .navbar-toggle-icon {
                @include breakpoint (sm1) {
                    background: $white;
                }
            }
        }
        .navbar-brand {

            img {

                &.custom-logo {
                    @include breakpoint (sm1) {
                        opacity: 0;
                    }
                }

                &.toggle-logo {
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    @include breakpoint (sm1) {
                        opacity: 1;
                    }
                }
            }
        }
        .navbar-nav {
            li {
                .nav-link {
                    color: $white;
                    font-size: 12px;
                }
            }
        }
    }
    .dropdown-menu {
        border: none;
        @include breakpoint (sm1) {
            display: block;
            background: none;
            padding: 0;
            margin: 0;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin: 0;
                a {
                    font-size: 14px;
                    color: $dark-gray;
                    letter-spacing: 0.02em;
                    background: none;
                    @include breakpoint (sm1) {
                        color: rgba($color: $white, $alpha: 0.8);
                        font-size: 12px;
                    }
                    &:hover {
                        color: rgba($color: $white, $alpha: 0.2);
                    }
                }
            }
        }
    }
}

// hamberger menu animation
.navbar-toggler {
    width: 24px;
    height: 20px;
    position: relative;
    margin: 0px;
    @include transform(rotate(0deg));
    padding: 0;
    outline: none;
    border: none;
    @include transition(.5s ease-in-out);
    cursor: pointer;

    .navbar-toggle-icon {
        background: $dark-gray;
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        @include transform(rotate(0deg));
        @include transition(.25s ease-in-out);

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 6px;
        }

        &:nth-child(4) {
            top: 12px;
        }
    }

    &.on {
        .navbar-toggle-icon {
            &:nth-child(1) {
                top: 11px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                @include transform(rotate(45deg));
            }

            &:nth-child(3) {
                @include transform(rotate(-45deg));
            }

            &:nth-child(4) {
                top: 11px;
                width: 0%;
                left: 50%;
            }
        }
    }
}
.dropdown-toggle::after {
    display: none;
}
